<div>
    <table id="tableAddRef" class="table">
        <thead>
            <tr data-bind="foreach : self.ViewModel.listTamanhos">
                <th class="text-center" data-bind="text: descricao"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach : self.ViewModel.listCoresCampos">
            <tr>
                <td class="text-center center-block" data-bind="text : Cor.descricao"></td>
                <!-- ko foreach :  Campos -->
                <td>
                    <input class="input-sm center-block" data-bind="textInput : Quantidade" size="6">
                </td>
                <!-- /ko -->
                <td>
                    <button data-bind="click : self.ViewModel.umDeCada " class="btn btn-info">Um de cada</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
