@using Comerciante.Pedido.Application.ViewModels
@model EditarPedidoViewModel
@{
    ViewData["Title"] = $"Editando Pedido Nº {Model.Pedido.Numero}";
}
<h2>Pedido Nº @Model.Pedido.Numero</h2>

<h1>Referencias</h1>
<a></a>
<div class="form-group">
    <div class="row">
        <button class="btn btn-warning pull-right">Referências já adicionadas</button>
    </div>
</div>
<a></a>

@Html.Partial("_Referencia")

<div id="modalAddEditRef" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 data-bind="text : ViewModel.addEditRef.Codigo">Adicionar </h2>
            </div>
            <div class="modal-body">
                <div id="modalBodyAddEditRef">
                    @Html.Partial("_AddEditRef")
                </div>
            </div>
            <div class="modal-footer">
                <button id="btSalvar" data-bind="click : ViewModel.salvarRef" type="button" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        var modelSer = @Json.Serialize(Model.AddEditReferencias);
    </script>
    <script src="~/js/referencias.js"></script>

}