<div data-bind="foreach : ViewModel.listReferencias" >
        <div class="col-sm-2 col-lg-4">
            <div class="thumbnail">
                <img width="200" height="200" data-bind="attr:{src : ImagemA }" class="img-responsive center-block" />
                <div class="caption">
                   <label class="h2">Ref:</label> 
                    <label class="h2" data-bind="text : Codigo" ></label>
                    <label class="h4" data-bind="text : Descricao" ></label>
                    <div>
                        <label class="h4 text-warning pull-left" data-bind="visible : Grade">GRADE</label>
                        <div class="pull-right">
                            <label class="h4 text-success text-right">Preço: </label>
                            <label class="h4 text-success text-right" data-bind="text :Preco"></label>
                        </div>
                    </div>
                    </div>
                <button data-bind="click : ViewModel.AddAoPedido" class="btAdd btn btn-success btn-block">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                    <span>Adicionar ao Pedido</span>
                </button>
            </div>

           
            </div>
        </div>
    

