@using Comerciante.Pedido.Application.ViewModels
@model TotalPedidoViewModel;

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <div class="label label-primary">R$ @Model.TotalPedido</div>
    <div class="label label-primary">@Model.TotalReferencias Referências</div>
    <div class="label label-primary">@Model.TotalPecas Peças</div>
</div>